.carouselContainer {
    display: flex;
    align-items:center;
    width:98vw;
}
.carousel {
    width: 100%;
    height: 100%;
}
.carousel:hover + .iconContainer > .iconCarousel{
        background: #00a1dca4;
}
.iconContainer {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 100%;
    padding-left: 1vw;
    padding-right: 3vw;
    z-index: 9;
    position: absolute;
    cursor: pointer;
}
.iconCarousel{
    background: transparent;
}
.iconCarousel:hover{
    background: #00a1dca4;
}