.contactContainer {
    background-color: #343c46b6;
}
.imagenMuestra{
    margin-top: 2vh;
    height: 105vh;
    width: 100%;
    background-image: url("../assets/img/contact.png");
    background-position: center;
    background-repeat: no-repeat;
}