.homeContainer {
    background-color: #ffffff;
    padding-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.carouselContainer{
    padding-top: 2vh;
}
.cardGridContainer{
    padding-top: 1vh;
    padding-bottom: 7vh;
}