.bibliotecaContainer {
    background-color: rgb(0, 160, 220);
    padding-top: 5vh;
}
.titleContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    padding-bottom: 1vh;
}

.selectContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    padding-top: 1vh;
}

.selectButton1{
    height: auto;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton2{
    height: auto;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton3{
    height: auto;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton4{
    height: auto;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton5{
    height: auto;
    border-radius: 5px;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}

.SearchContainer{
    padding-top: 3vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
}

.searchInput{
    width: 20vw;
    height: 4vh;
}

.resultContainer{
    min-height: 55vh;

}