.bibliotecaContainer {
    background-color: rgba(235, 237, 239, 1);
    padding-top: 10vh;
}
.titleContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    padding-bottom: 1vh;
}

.selectContainer{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    padding-top: 1vh;
}

.selectButton1{
    height: auto;
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton2{
    height: auto;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton3{
    height: auto;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton4{
    height: auto;
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    border-color: white;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}
.selectButton5{
    height: auto;
    border-radius: 5px;
    background-color: #1890ff;
    color: white;
    font-size: 20px;
}

.SearchContainer{
    padding-top: 3vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
}

.searchInput{
    width: 20vw;
    height: 4vh;
}

.resultContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90%;
    flex-direction: column;
}
.site-card-border-less-wrapper{
    width: 100%;
    padding: 1vh;
    padding-bottom: 1vh;
}