@import "scss";

.site-page-header {
    background-color: #696f78;
    align-content: center;
    padding: 0px;
    margin: 0px;
}
.ant-page-header-content {
    padding-top: 0px;
}
.pageContainer{
    display: flex;
    flex-direction: row; 
}
.HeaderContainer {
    width: 20%;
    min-width:200px ;
    margin-right: 0.25vw;
    background-color:#00a0dc;
}
.socialRedContainer {
    display: flex;
    width: 80%;
    background-color:#1d71b8;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 1vw;
}
.socialRed{
    background-color:#1d71b8;
    cursor: pointer;
}
.socialRed:hover{
    background-color: $primary-color-hover;
}
.numeroTel{
    color: white;
    padding-right: 1.3vw;
}

.logoRight{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d71b8;
    padding-right: 1vw;
}