.menuTopContainer {
    position: fixed;
    z-index: 1;
    width: 100%;
}
.menuTopLeft {
    float: right;
}
.ant-menu-vertical > .menuTopLeft {
    float: left;
}
.ant-menu.ant-menu-dark {
    color: rgb(255, 255, 255);
    background: #9ca0a5;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    color: rgb(255, 255, 255);
    background: #1890ff;
}
.ant-menu-submenu-active:hover {
    background: #1d71b8;
}
.ant-menu-item-active:hover {
    background: #1d71b8;
}
.ant-menu-item-active:hover {
    background-color: #1d71b8 !important;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: #1d71b8;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1d71b8;
}
.adtiveColor {
    background-color: #1d71b8 !important;
}
.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: inherit;
}

.ant-menu-submenu-active .ant-menu-submenu-title{
    color: rgb(255, 255, 255);
    background-color: #1d71b8
}
.nav-text{
    color: rgb(255, 255, 255);
}

