
.ant-colapsed{
    margin-bottom: 0em;
    margin-top: -30em;
    color: white;
    
}

.bottomContainer{
    color: white;
}
.pcont{
    background: #1d71b8;
    
}
.ant-collapse-header{
    color: white!important;
}

.ant-collapse-arrow svg{
    visibility: hidden;
}

.titulo1{
    color: #1d71b8;
    
}

.tituloHeader{
    color: black;
    margin-bottom: 0em;

    margin-top: -30em;
}