.footerLayoutMain{
    text-align: center;
    position: fixed;
    bottom: 0em;
    height: 4em;
    width: 100%;
    background-color: rgb(245, 245, 245);
}
.contentLoadRoutes{
    margin-top: 12vh;
    margin-bottom: 2vh;
}